In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("../datascience/datasets/titanic/train.csv")

In [5]:
data = df.drop(["PassengerId" , "Name" , "Ticket" , "Fare" , "Cabin" , "Embarked" ] , axis = 1)

In [6]:
le = LabelEncoder()

In [7]:
data["Sex"] = le.fit_transform(data["Sex"])

In [11]:
out = data.groupby(["Sex" , "Pclass"]).mean()
out = data.dropna().groupby(["Sex" , "Pclass"]).mean()

In [12]:
out.reset_index()

   Sex  Pclass  Survived        Age     SibSp     Parch
0    0       1  0.964706  34.611765  0.541176  0.494118
1    0       2  0.918919  28.722973  0.500000  0.621622
2    0       3  0.460784  21.750000  0.823529  0.950980
3    1       1  0.396040  41.281386  0.376238  0.336634
4    1       2  0.151515  30.740707  0.373737  0.242424
5    1       3  0.150198  26.507589  0.490119  0.256917