# List and Tuple

### List

In [1]:
a = ["name " , 1 , 2.3 , "name33343"]

In [2]:
print(a)

['name ', 1, 2.3, 'name33343']

In [3]:
type(a)

list

### tuple

In [4]:
a = (2,3,5,6)

In [10]:
a = 2 , 3, 4 ,5

### we can also  iniliase a tuple above

In [11]:
print(a)

(2, 3, 4, 5)

In [12]:
type(a)

tuple

In [13]:
print(type(a))

<class 'tuple'>

In [14]:
a = 10 
b = 20

In [15]:
a , b  = b ,a

### in background a , b = 20 , 10   a and b assign to (20 , 10) a tuple is created .

In [16]:
print(a ,"  " ,  b)

20    10

In [21]:
a = 10 
b = 20 
def swap (a , b):
    return b , a

In [22]:
a , b = swap(a , b)

### a tuple is created in background    in return b , a

In [24]:
print(a , b)

20 10

## is operater
### is operator checks whether both the operands refer to the same object or not.

In [38]:
a = (4 , 5 ,6)

In [39]:
b = [4 , 5, 6]
c = a

In [40]:
a is b

False

In [41]:
a is c

True

In [66]:
a == b

False

In [67]:
a = [4 , 5 ,6 ]
b = [4 ,  5, 6 ]

In [68]:
a.append(a)

In [69]:
print(a)

[4, 5, 6, [...]]

In [70]:
a[-1]

[4, 5, 6, [...]]

In [71]:
a[-1][-1]

[4, 5, 6, [...]]

In [72]:
a[-1][-1][-1]

[4, 5, 6, [...]]

In [73]:
a[-1][-1][-1]

[4, 5, 6, [...]]

In [61]:
a.append(b)

In [59]:
print(a)

[4, 5, 6, [...], [4, 5, 6]]

## Dictionary

In [75]:
d = {}

In [76]:
d["Apple"] = "A Sweet Red Fruit"

In [77]:
d["Mango"] = "A king of Fruit "

In [78]:
print(d)

{'Apple': 'A Sweet Red Fruit', 'Mango': 'A king of Fruit '}

In [79]:
print(d["Apple"])

A Sweet Red Fruit

In [96]:
"guava" in d

False

In [100]:
"Apple" in d

True

In [105]:
line = "I am a  programmer "
freq = {}
for ch in line.lower():
    if(ch not in  freq):
        freq[ch] =  1
    else:
        freq[ch] += 1 
print(freq)

{'i': 1, ' ': 5, 'a': 3, 'm': 3, 'p': 1, 'r': 3, 'o': 1, 'g': 1, 'e': 1}

In [111]:
print(freq.keys())
print(type(freq.keys()))

dict_keys(['i', ' ', 'a', 'm', 'p', 'r', 'o', 'g', 'e'])
<class 'dict_keys'>

In [109]:
print(freq.values())

dict_values([1, 5, 3, 3, 1, 3, 1, 1, 1])

In [110]:
print(freq.items())

dict_items([('i', 1), (' ', 5), ('a', 3), ('m', 3), ('p', 1), ('r', 3), ('o', 1), ('g', 1), ('e', 1)])

In [122]:
tups = [('i', 1), (' ', 5 ), ('a', 3), ('m', 3), ('p', 1), ('r', 3), ('o', 1), ('g', 1), ('e', 1)]

In [123]:
di = dict(tups)

In [124]:
print(di)

{'i': 1, ' ': 5, 'a': 3, 'm': 3, 'p': 1, 'r': 3, 'o': 1, 'g': 1, 'e': 1}

### Comprehensions

In [125]:
li = list(range(10 ,20))

In [127]:
[item**2 for item in li if item %3 == 0]

[144, 225, 324]

In [128]:
[item*3 for item in li if item %2 ==0]

[30, 36, 42, 48, 54]

### Set

In [129]:
s = set()

In [130]:
s.add(5)

In [131]:
print(s, type(s))

{5} <class 'set'>

In [137]:
s = "hello"
s = set(s)

In [140]:
s = list(s)
s.sort()

In [142]:
print(s , type(s))

['e', 'h', 'l', 'o'] <class 'list'>

In [145]:
f = open("happy.txt" , "wt")

In [146]:
f.writable()

True

In [147]:
f.write("let me finish my work ")

22

In [150]:
f.close()   ## f.flush()

In [158]:
%pwd

'/Users/habiburrahmankhan/datascience'

### Writing a file

- write
- writelines

### Reading from a file

- read
- readline
- readlines

In [196]:
f = open("happy.txt" ,"rt")

In [197]:
f.read()

'let me finish my work \naa\nddf\ng\nf\ng\ngh\ndsder\nh\ngh\ng\n'

In [198]:
f.seek(0)

0

In [199]:
f.readline()

'let me finish my work \n'

In [200]:
f.seek(0)

0

In [201]:
f.readlines()

['let me finish my work \n',
 'aa\n',
 'ddf\n',
 'g\n',
 'f\n',
 'g\n',
 'gh\n',
 'dsder\n',
 'h\n',
 'gh\n',
 'g\n']

In [ ]:
f.close()

In [1]:
import json

In [2]:
d = {"name" : "Mohit" , "Age" : 30 ,"class" : "12th" }

In [3]:
st = json.dumps(d)

In [4]:
json.loads(st)

{'name': 'Mohit', 'Age': 30, 'class': '12th'}

In [5]:
with open("happy" ,"wt") as fp : 
    st = json.dump(d , fp)
print(fp.closed)

True

In [6]:
with open("happy" ,"rt") as fp : 
    print(json.load(fp))
print(fp.closed)

{'name': 'Mohit', 'Age': 30, 'class': '12th'}
True

## download image from web to a file

In [1]:
import requests

In [2]:
link = r"https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/dreamworks-11795-Full-Image_GalleryBackground-en-US-1483994504900._SX1080_.jpg"

In [3]:
data  =requests.get(link)

In [4]:
with open("panda.jpeg", "wb") as pfile:
    pfile.write(data.content)

## download speech text  from web to a file

In [7]:
link = r"https://cb.lk/speech"

data = requests.get(link)

with open("modi.txt", "wt" ) as pfile:
    pfile.write(data.text)

speech = data.text


freq = { }
window = 5 

for k in range(window , len(speech)):
    word = speech[k - window : k]
    ch = speech[k]
    if word not in freq :
        freq[word] = {}
    if ch not in freq[word]:
        freq[word][ch] = 0
    freq[word][ch] += 1

In [8]:
seed = "people get together and form a group"
import random

for i in range(500):
    cut = seed[-window : ]
    fqs = freq[cut]
    top_fqs = sorted(fqs.items() , key = lambda x : x[1] , reverse = True)[:3]
    next_ch = random.choice(top_fqs)[0]
    seed += next_ch 
print(seed)

people get together and form a group. We agreement.The wouldn't wanted attai sernthavargal. The city becoming disting and and, assumptive an idents. Weights arounding. Today's express on, it
is ourse attacks return that, I work their
counts.
When told.
Which helding thirds offices, technique of the sample one after
having thirst oil progression.We are that, as thirst till now but a china stature is needs.
In an age.
My banking.
We had saffron Reform is native. Inform taxable to stars.
To thinks, must:
• We still, today, we
have