## Diabetes Challenge!  Machine Learning in Health

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfx = pd.read_csv("../KNNALGO/Training Data/Diabetes_XTrain.csv")

In [3]:
dfy = pd.read_csv("../KNNALGO/Training Data/Diabetes_YTrain.csv")

In [4]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [5]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [6]:
X = dfx.values

In [7]:
Y = dfy.values

In [8]:
print(X.shape)
print(Y.shape)

(576, 8)
(576, 1)

In [9]:
dftest = pd.read_csv("../KNNALGO/Test Cases/Diabetes_Xtest.csv")

In [10]:
x_test = dftest.values

In [11]:
print(x_test.shape)

(192, 8)

In [12]:
def distance(x1 ,x2):
    return np.sqrt(sum((x1-x2)**2))
def knn(X , Y ,queryPoint  , k=25 ):
    vals = []
    m = X.shape[0]
    for i in range(m):
        dist = distance(X[i] , queryPoint)
        vals.append((dist ,Y[i]))
    vals = sorted(vals)
    vals = np.array(vals[: k])
    new_vals = np.unique(vals[ : , 1] , return_counts=True)
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    return pred

In [13]:
preds = []
m = x_test.shape[0]
print(m)
for i in range(m):
    pred = knn(X , Y ,x_test[i])
    preds.append(int(pred))

192

In [14]:
ans = np.array(preds)

In [15]:
anstocsv = pd.DataFrame(ans , columns=["Outcome"])

In [16]:
anstocsv.to_csv("submission.csv" , header =True , index = False)

In [17]:
anstocsv.tail()

     Outcome
187        0
188        0
189        1
190        0
191        0